.definitions_part_2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.definitions_part_2-part2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.definitions_part_2-text {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.definitions_part_2-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-bottom: 48px;
  justify-content: space-between;
}
.definitions_part_2-container01 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.definitions_part_2-text003 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.definitions_part_2-text005 {
  margin-right: var(--dl-space-space-threeunits);
}
.definitions_part_2-image {
  width: 447px;
  height: 282px;
  object-fit: cover;
  flex-shrink: 0;
}
.definitions_part_2-part3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.definitions_part_2-text008 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.definitions_part_2-steps {
  width: 100%;
  height: 496px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  padding-bottom: 39px;
}
.definitions_part_2-container02 {
  width: 1022px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_2-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_2-step {
  width: 263px;
  height: 355px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_2-text010 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text012 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text014 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-step01 {
  width: 229px;
  height: 461px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_2-text019 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text021 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text023 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_2-step02 {
  width: 278px;
  height: 451px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_2-text028 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text030 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text032 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-image01 {
  width: 265px;
  height: 125px;
  object-fit: cover;
}
.definitions_part_2-step03 {
  width: 284px;
  height: 438px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  padding-right: 24px;
  flex-direction: column;
}
.definitions_part_2-text037 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text039 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text041 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-image02 {
  width: 265px;
  height: 125px;
  object-fit: cover;
}
.definitions_part_2-custom-viz {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.definitions_part_2-image03 {
  width: 1035px;
  height: 576px;
  object-fit: cover;
}
.definitions_part_2-part4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.definitions_part_2-text046 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.definitions_part_2-steps1 {
  width: 100%;
  height: 496px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  padding-bottom: 39px;
}
.definitions_part_2-container05 {
  width: 1022px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_2-container06 {
  width: 1033px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_2-step04 {
  width: 523px;
  height: 377px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_2-text048 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text050 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text052 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-image04 {
  width: 247px;
  height: 178px;
  object-fit: cover;
}
.definitions_part_2-step05 {
  width: 526px;
  height: 415px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_2-text059 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text061 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text062 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-image05 {
  width: 164px;
  height: 187px;
  object-fit: cover;
}
.definitions_part_2-custom-viz1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.definitions_part_2-image06 {
  width: 1035px;
  height: 576px;
  object-fit: cover;
}
.definitions_part_2-part5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.definitions_part_2-text069 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.definitions_part_2-steps2 {
  width: 100%;
  height: 496px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  padding-bottom: 39px;
}
.definitions_part_2-container07 {
  width: 1022px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_2-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_2-step06 {
  width: 402px;
  height: 472px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_2-text071 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text073 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text075 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-step07 {
  width: 272px;
  height: 456px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_2-text079 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text081 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text082 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-image07 {
  width: 217px;
  height: 123px;
  object-fit: cover;
}
.definitions_part_2-step08 {
  width: 414px;
  height: 451px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  padding-left: 24px;
  flex-direction: column;
}
.definitions_part_2-text090 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text092 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text094 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-image08 {
  width: 220px;
  height: 151px;
  object-fit: cover;
}
.definitions_part_2-custom-viz2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.definitions_part_2-image09 {
  width: 1035px;
  height: 576px;
  object-fit: cover;
}
.definitions_part_2-part6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.definitions_part_2-text102 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.definitions_part_2-steps3 {
  width: 100%;
  height: 496px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  padding-bottom: 39px;
}
.definitions_part_2-container09 {
  width: 1022px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_2-container10 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_2-step09 {
  width: 263px;
  height: 355px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_2-text104 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text106 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text108 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-image10 {
  width: 50%;
  height: 110px;
  object-fit: cover;
}
.definitions_part_2-step10 {
  width: 229px;
  height: 461px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_2-text113 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text115 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text117 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-image11 {
  width: 209px;
  height: 116px;
  object-fit: cover;
}
.definitions_part_2-container11 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_2-step11 {
  width: 278px;
  height: 451px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_2-text122 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text124 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text126 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-image12 {
  width: 99px;
  height: 108px;
  object-fit: cover;
}
.definitions_part_2-step12 {
  width: 284px;
  height: 438px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  padding-right: 24px;
  flex-direction: column;
}
.definitions_part_2-text133 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_2-text135 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_2-text137 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_2-image13 {
  width: 121px;
  height: 114px;
  object-fit: cover;
}
.definitions_part_2-custom-viz3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.definitions_part_2-image14 {
  width: 1035px;
  height: 576px;
  object-fit: cover;
}
.definitions_part_2-custom-viz4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.definitions_part_2-image15 {
  width: 1035px;
  height: 576px;
  object-fit: cover;
}
.definitions_part_2-part7 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.definitions_part_2-text142 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.definitions_part_2-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-bottom: 48px;
  justify-content: space-between;
}
.definitions_part_2-container12 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.definitions_part_2-text143 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.definitions_part_2-text145 {
  margin-right: var(--dl-space-space-threeunits);
}
.definitions_part_2-image16 {
  width: 391px;
  height: 490px;
  object-fit: cover;
  flex-shrink: 0;
}
.definitions_part_2-custom-viz5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.definitions_part_2-image17 {
  width: 1035px;
  height: 576px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .definitions_part_2-text {
    text-align: center;
  }
  .definitions_part_2-banner {
    flex-direction: column;
  }
  .definitions_part_2-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .definitions_part_2-text005 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .definitions_part_2-image {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .definitions_part_2-text008 {
    text-align: center;
  }
  .definitions_part_2-text010 {
    text-align: center;
  }
  .definitions_part_2-text012 {
    text-align: center;
  }
  .definitions_part_2-text019 {
    text-align: center;
  }
  .definitions_part_2-text021 {
    text-align: center;
  }
  .definitions_part_2-text028 {
    text-align: center;
  }
  .definitions_part_2-text030 {
    text-align: center;
  }
  .definitions_part_2-text037 {
    text-align: center;
  }
  .definitions_part_2-text039 {
    text-align: center;
  }
  .definitions_part_2-custom-viz {
    flex-direction: column;
  }
  .definitions_part_2-text046 {
    text-align: center;
  }
  .definitions_part_2-text048 {
    text-align: center;
  }
  .definitions_part_2-text050 {
    text-align: center;
  }
  .definitions_part_2-text059 {
    text-align: center;
  }
  .definitions_part_2-text061 {
    text-align: center;
  }
  .definitions_part_2-custom-viz1 {
    flex-direction: column;
  }
  .definitions_part_2-text069 {
    text-align: center;
  }
  .definitions_part_2-text071 {
    text-align: center;
  }
  .definitions_part_2-text073 {
    text-align: center;
  }
  .definitions_part_2-text079 {
    text-align: center;
  }
  .definitions_part_2-text081 {
    text-align: center;
  }
  .definitions_part_2-text090 {
    text-align: center;
  }
  .definitions_part_2-text092 {
    text-align: center;
  }
  .definitions_part_2-custom-viz2 {
    flex-direction: column;
  }
  .definitions_part_2-text102 {
    text-align: center;
  }
  .definitions_part_2-text104 {
    text-align: center;
  }
  .definitions_part_2-text106 {
    text-align: center;
  }
  .definitions_part_2-text113 {
    text-align: center;
  }
  .definitions_part_2-text115 {
    text-align: center;
  }
  .definitions_part_2-text122 {
    text-align: center;
  }
  .definitions_part_2-text124 {
    text-align: center;
  }
  .definitions_part_2-text133 {
    text-align: center;
  }
  .definitions_part_2-text135 {
    text-align: center;
  }
  .definitions_part_2-custom-viz3 {
    flex-direction: column;
  }
  .definitions_part_2-custom-viz4 {
    flex-direction: column;
  }
  .definitions_part_2-text142 {
    text-align: center;
  }
  .definitions_part_2-banner1 {
    flex-direction: column;
  }
  .definitions_part_2-container12 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .definitions_part_2-text145 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .definitions_part_2-image16 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .definitions_part_2-custom-viz5 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .definitions_part_2-part2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-text005 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .definitions_part_2-part3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-container02 {
    flex-direction: column;
  }
  .definitions_part_2-step {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-step01 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-step02 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-step03 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-custom-viz {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-image03 {
    width: 80%;
  }
  .definitions_part_2-part4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-steps1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-container05 {
    flex-direction: column;
  }
  .definitions_part_2-step04 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-step05 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-custom-viz1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-image06 {
    width: 80%;
  }
  .definitions_part_2-part5 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-steps2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-container07 {
    flex-direction: column;
  }
  .definitions_part_2-step06 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-step07 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-step08 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-custom-viz2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-image09 {
    width: 80%;
  }
  .definitions_part_2-part6 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-steps3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-container09 {
    flex-direction: column;
  }
  .definitions_part_2-step09 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-step10 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-step11 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-step12 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_2-custom-viz3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-image14 {
    width: 80%;
  }
  .definitions_part_2-custom-viz4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-image15 {
    width: 80%;
  }
  .definitions_part_2-part7 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-text145 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .definitions_part_2-custom-viz5 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_2-image17 {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .definitions_part_2-part2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-image {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .definitions_part_2-part3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-container03 {
    flex-direction: column;
  }
  .definitions_part_2-container04 {
    flex-direction: column;
  }
  .definitions_part_2-custom-viz {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-part4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-steps1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-container06 {
    flex-direction: column;
  }
  .definitions_part_2-custom-viz1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-part5 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-steps2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-container08 {
    flex-direction: column;
  }
  .definitions_part_2-custom-viz2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-part6 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-steps3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-container10 {
    flex-direction: column;
  }
  .definitions_part_2-container11 {
    flex-direction: column;
  }
  .definitions_part_2-custom-viz3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-custom-viz4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-part7 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_2-image16 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .definitions_part_2-custom-viz5 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
