.definitions_part_1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.definitions_part_1-part1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.definitions_part_1-text {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.definitions_part_1-steps {
  width: 100%;
  height: 496px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  padding-bottom: 39px;
}
.definitions_part_1-container1 {
  width: 1022px;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_1-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.definitions_part_1-step {
  width: 402px;
  height: 472px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_1-text03 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_1-text05 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_1-text07 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_1-image {
  width: 190px;
  height: 206px;
  object-fit: cover;
}
.definitions_part_1-step1 {
  width: 272px;
  height: 456px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.definitions_part_1-text09 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_1-text11 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_1-text12 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_1-image1 {
  width: 201px;
  height: 116px;
  object-fit: cover;
}
.definitions_part_1-step2 {
  width: 414px;
  height: 451px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  padding-left: 24px;
  flex-direction: column;
}
.definitions_part_1-text13 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.definitions_part_1-text15 {
  font-size: 1.15rem;
  font-weight: 500;
}
.definitions_part_1-text17 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.definitions_part_1-image2 {
  width: 71px;
  height: 140px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .definitions_part_1-text {
    text-align: center;
  }
  .definitions_part_1-text03 {
    text-align: center;
  }
  .definitions_part_1-text05 {
    text-align: center;
  }
  .definitions_part_1-text09 {
    text-align: center;
  }
  .definitions_part_1-text11 {
    text-align: center;
  }
  .definitions_part_1-text13 {
    text-align: center;
  }
  .definitions_part_1-text15 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .definitions_part_1-part1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_1-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .definitions_part_1-container1 {
    flex-direction: column;
  }
  .definitions_part_1-step {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_1-step1 {
    padding: var(--dl-space-space-unit);
  }
  .definitions_part_1-step2 {
    padding: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .definitions_part_1-part1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_1-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .definitions_part_1-container2 {
    flex-direction: column;
  }
}
