<div>
  <link href="static/css/definitions_part_1.css" rel="stylesheet" />
  <div class="definitions_part_1-container">
    <div class="definitions_part_1-part1">
      <h2 class="definitions_part_1-text">
        <span>
          <span>
            PART 1: An Introduction to the Genome and It&apos;s Building Blocks
          </span>
        </span>
      </h2>
      <div class="definitions_part_1-steps">
        <div class="definitions_part_1-container1">
          <div class="definitions_part_1-container2">
            <div class="definitions_part_1-step">
              <h1 class="definitions_part_1-text03"><span>1</span></h1>
              <h1 class="definitions_part_1-text05"><span>Genome</span></h1>
              <span class="definitions_part_1-text07">
                <span>
                  The genome is the entire set of genetic instructions found in
                  a cell. In humans, the genome consists of 23 pairs of
                  chromosomes, found in the nucleus, as well as a small
                  chromosome found in the cells&apos; mitochondria. Each set of
                  23 chromosomes contains approximately 3.1 billion bases of DNA
                  sequence.
                </span>
              </span>
              <img
                src="https://www.verywellhealth.com/thmb/g8cvLUU8748vdJ29jUDoFULBOiY=/4250x4250/filters:fill(87E3EF,1)/human-karyotype--artwork-460713321-59558cdd3df78cdc295cbcd0.jpg"
                alt="image"
                class="definitions_part_1-image"
              />
            </div>
            <div class="definitions_part_1-step1">
              <h1 class="definitions_part_1-text09"><span>2</span></h1>
              <h1 class="definitions_part_1-text11">Chromosome</h1>
              <span class="definitions_part_1-text12">
                A chromosome is an organized package of DNA found in the nucleus
                of the cell. Different organisms have different numbers of
                chromosomes. Humans have 23 pairs of chromosomes--22 pairs of
                numbered chromosomes, called autosomes, and one pair of sex
                chromosomes, X and Y. Each parent contributes one chromosome to
                each pair so that offspring get half of their chromosomes from
                their mother and half from their father.
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/chromosome.jpg"
                alt="image"
                class="definitions_part_1-image1"
              />
            </div>
            <div class="definitions_part_1-step2">
              <h1 class="definitions_part_1-text13"><span>3</span></h1>
              <h1 class="definitions_part_1-text15"><span>DNA</span></h1>
              <span class="definitions_part_1-text17">
                <span></span>
                <span></span>
                <span>
                  DNA is the chemical name for the molecule that carries genetic
                  instructions in all living things. The DNA molecule consists
                  of two strands that wind around one another to form a shape
                  known as a double helix. Each strand has a backbone made of
                  alternating sugar (deoxyribose) and phosphate groups. Attached
                  to each sugar is one of four bases--adenine (A), cytosine (C),
                  guanine (G), and thymine (T). The two strands are held
                  together by bonds between the bases; adenine bonds with
                  thymine, and cytosine bonds with guanine. The sequence of the
                  bases along the backbones serves as instructions for
                  assembling protein and RNA molecules.
                </span>
                <span></span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/double_helix.jpg"
                alt="image"
                class="definitions_part_1-image2"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
