<div>
  <link href="static/css/definitions_part_2.css" rel="stylesheet" />
  <div class="definitions_part_2-container">
    <div class="definitions_part_2-part2">
      <h2 class="definitions_part_2-text">
        <span>
          <span>
            PART 2: Looking Within a Chromosome and Locating and Identifying
            Genes
          </span>
        </span>
      </h2>
      <div class="definitions_part_2-banner">
        <div class="definitions_part_2-container01">
          <h1 class="definitions_part_2-text003"><span>Gene</span></h1>
          <span class="definitions_part_2-text005">
            <span>
              <span>
                aThe gene is the basic physical unit of inheritance. Genes are
                passed from parents to offspring and contain the information
                needed to specify traits. Genes are arranged, one after another,
                on structures called chromosomes. A chromosome contains a
                single, long DNA molecule, only a portion of which corresponds
                to a single gene. Humans have approximately 20,000 genes
                arranged on their chromosomes.
              </span>
            </span>
          </span>
        </div>
        <img
          alt="image"
          src="https://www.genome.gov/sites/default/files/tg/en/illustration/gene.jpg"
          class="definitions_part_2-image"
        />
      </div>
    </div>
    <div class="definitions_part_2-part3">
      <h2 class="definitions_part_2-text008">
        <span></span>
        PART 3: The Components of a Gene
      </h2>
      <div class="definitions_part_2-steps">
        <div class="definitions_part_2-container02">
          <div class="definitions_part_2-container03">
            <div class="definitions_part_2-step">
              <h1 class="definitions_part_2-text010"><span>1</span></h1>
              <h1 class="definitions_part_2-text012">
                <span>Untranslated Region (UTR)</span>
              </h1>
              <span class="definitions_part_2-text014">
                <span></span>
                <span></span>
                <span>
                  An untranslated region (or UTR) refers to either of two
                  sections, one on each side of a coding sequence on a strand of
                  mRNA. If it is found on the 5&apos; side, it is called the
                  5&apos; UTR (or leader sequence), or if it is found on the
                  3&apos; side, it is called the 3&apos; UTR (or trailer
                  sequence). mRNA is RNA that carries information from DNA to
                  the ribosome, the site of protein synthesis (translation)
                  within a cell. The mRNA is initially transcribed from the
                  corresponding DNA sequence and then translated into protein.
                  However, several regions of the mRNA are usually not
                  translated into protein, including the 5&apos; and 3&apos;
                  UTRs.
                </span>
                <br />
                <span></span>
              </span>
            </div>
            <div class="definitions_part_2-step01">
              <h1 class="definitions_part_2-text019"><span>2</span></h1>
              <h1 class="definitions_part_2-text021">
                <span>Start Codon</span>
              </h1>
              <span class="definitions_part_2-text023">
                <span></span>
                <span></span>
                <span>
                  The start codon is the first codon of a messenger RNA (mRNA)
                  transcript translated by a ribosome. The start codon always
                  codes for methionine in eukaryotes and Archaea and a
                  N-formylmethionine (fMet) in bacteria, mitochondria and
                  plastids. The most common start codon is AUG (i.e., ATG in the
                  corresponding DNA sequence).
                </span>
                <br />
                <span></span>
              </span>
            </div>
          </div>
          <div class="definitions_part_2-container04">
            <div class="definitions_part_2-step02">
              <h1 class="definitions_part_2-text028"><span>3</span></h1>
              <h1 class="definitions_part_2-text030">
                <span>Stop Codon</span>
              </h1>
              <span class="definitions_part_2-text032">
                <span></span>
                <span></span>
                <span>
                  A stop codon is a trinucleotide sequence within a messenger
                  RNA (mRNA) molecule that signals a halt to protein synthesis.
                  The genetic code describes the relationship between the
                  sequence of DNA bases (A, C, G, and T) in a gene and the
                  corresponding protein sequence that it encodes. The cell reads
                  the sequence of the gene in groups of three bases. Of the 64
                  possible combinations of three bases, 61 specify an amino
                  acid, while the remaining three combinations are stop codons.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/stop_codon.jpg"
                alt="image"
                class="definitions_part_2-image01"
              />
            </div>
            <div class="definitions_part_2-step03">
              <h1 class="definitions_part_2-text037"><span>4</span></h1>
              <h1 class="definitions_part_2-text039">
                <span>Coding DNA Sequence (CDS)</span>
              </h1>
              <span class="definitions_part_2-text041">
                <span></span>
                <span></span>
                <span>
                  The specific portion of DNA that directly encodes for the
                  protein (without introns or UTRs). Must be multiples of 3
                  (codons) to encode for amino acid chains.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.ensembl.info%2Fwp-content%2Fuploads%2F2018%2F08%2FGenestructure.png&amp;f=1&amp;nofb=1"
                alt="image"
                class="definitions_part_2-image02"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="definitions_part_2-custom-viz">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxtaW5pbWFsaXNtJTIwZ3JlZW58ZW58MHx8fHwxNjI1ODQxMDcw&amp;ixlib=rb-1.2.1&amp;w=1200"
          class="definitions_part_2-image03"
        />
      </div>
    </div>
    <div class="definitions_part_2-part4">
      <h2 class="definitions_part_2-text046">
        <span></span>
        PART 4: Transcription: DNA → RNA
      </h2>
      <div class="definitions_part_2-steps1">
        <div class="definitions_part_2-container05">
          <div class="definitions_part_2-container06">
            <div class="definitions_part_2-step04">
              <h1 class="definitions_part_2-text048"><span>1</span></h1>
              <h1 class="definitions_part_2-text050">
                <span>Transcription</span>
              </h1>
              <span class="definitions_part_2-text052">
                <span></span>
                <span></span>
                <span>
                  Transcription is the process of making an RNA copy of a gene
                  sequence. This copy, called a messenger RNA (mRNA) molecule,
                  leaves the cell nucleus and enters the cytoplasm, where it
                  directs the synthesis of the protein, which it encodes.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  Transcription is one of the fundamental processes that happens
                  to our genome. It&apos;s the process of turning DNA into RNA.
                  And you may have heard about the central dogma, which is DNA,
                  to RNA, to protein. Well, transcription refers to that first
                  part of going from DNA to RNA. And we transcribe DNA to RNA in
                  specific places. The most popular places are those things that
                  code for these protein-encoding genes. But there are a whole
                  host of other RNAs that get transcribed, like transfer RNAs
                  and ribosomal RNAs, that do other functions that are genomic
                  as well.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/transcription.jpg"
                alt="image"
                class="definitions_part_2-image04"
              />
            </div>
            <div class="definitions_part_2-step05">
              <h1 class="definitions_part_2-text059"><span>2</span></h1>
              <h1 class="definitions_part_2-text061">Ribonucleic Acid (RNA)</h1>
              <span class="definitions_part_2-text062">
                <span></span>
                <span></span>
                <span>
                  Ribonucleic acid (RNA) is a molecule similar to DNA. Unlike
                  DNA, RNA is single-stranded. An RNA strand has a backbone made
                  of alternating sugar (ribose) and phosphate groups. Attached
                  to each sugar is one of four bases--adenine (A), uracil (U),
                  cytosine (C), or guanine (G). Different types of RNA exist in
                  the cell: messenger RNA (mRNA), ribosomal RNA (rRNA), and
                  transfer RNA (tRNA). More recently, some small RNAs have been
                  found to be involved in regulating gene expression.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  RNA, or ribonucleic acid, is a nucleic acid that is similar in
                  structure to DNA but different in subtle ways. The cell uses
                  RNA for a number of different tasks, one of which is called
                  messenger RNA, or mRNA. And that is the nucleic acid
                  information molecule that transfers information from the
                  genome into proteins by translation. Another form of RNA is
                  tRNA, or transfer RNA, and these are non-protein encoding RNA
                  molecules that physically carry amino acids to the translation
                  site that allows them to be assembled into chains of proteins
                  in the process of translation.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/rna_ribonucleic_acid.jpg"
                alt="image"
                class="definitions_part_2-image05"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="definitions_part_2-custom-viz1">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxtaW5pbWFsaXNtJTIwZ3JlZW58ZW58MHx8fHwxNjI1ODQxMDcw&amp;ixlib=rb-1.2.1&amp;w=1200"
          class="definitions_part_2-image06"
        />
      </div>
    </div>
    <div class="definitions_part_2-part5">
      <h2 class="definitions_part_2-text069">
        <span></span>
        PART 5: Splicing: RNA → mRNA
      </h2>
      <div class="definitions_part_2-steps2">
        <div class="definitions_part_2-container07">
          <div class="definitions_part_2-container08">
            <div class="definitions_part_2-step06">
              <h1 class="definitions_part_2-text071"><span>1</span></h1>
              <h1 class="definitions_part_2-text073"><span>Exon</span></h1>
              <span class="definitions_part_2-text075">
                <span>
                  An exon is the portion of a gene that codes for amino acids.
                  In the cells of plants and animals, most gene sequences are
                  broken up by one or more DNA sequences called introns. The
                  parts of the gene sequence that are expressed in the protein
                  are called exons, because they are expressed, while the parts
                  of the gene sequence that are not expressed in the protein are
                  called introns, because they come in between--or interfere
                  with--the exons.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  Exons are that part of the RNA that code for proteins. Now,
                  RNA, when it first gets transcribed, is a very, very long
                  piece of RNA molecule. And really, the important parts of that
                  RNA are the exons. There are large, large chunks of RNA that
                  get excised out. Now, it&apos;s important to remember that
                  because I use the term excised doesn&apos;t mean that exons go
                  away. The exons are what stay in the mature mRNA and
                  eventually code for amino acids. Many times, including medical
                  students like my wife, will forget whether it&apos;s the exons
                  that code for the amino acids or the introns that code for the
                  amino acids. Let me set the record straight that it&apos;s the
                  exons that code for the amino acids, because sometimes people
                  try to remember that exons get excised, but that&apos;s not
                  true. It&apos;s that introns interfere. So you always have to
                  remember that introns interfere, and the introns get excised
                  out of the RNA to leave a string of exons together that will
                  eventually code for the amino acids.
                </span>
              </span>
            </div>
            <div class="definitions_part_2-step07">
              <h1 class="definitions_part_2-text079"><span>2</span></h1>
              <h1 class="definitions_part_2-text081">Intron</h1>
              <span class="definitions_part_2-text082">
                <span></span>
                <span></span>
                <span>
                  An intron is a portion of a gene that does not code for amino
                  acids. In the cells of plants and animals, most gene sequences
                  are broken up by one or more introns. The parts of the gene
                  sequence that are expressed in the protein are called exons,
                  because they are expressed, while the parts of the gene
                  sequence that are not expressed in the protein are called
                  introns, because they come in between the exons.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  Introns are very large chunks of RNA within a messenger RNA
                  molecule that interfere with the code of the exons. And these
                  introns get removed from the RNA molecule to leave a string of
                  exons attached to each other so that the appropriate amino
                  acids can be encoded for.
                </span>
                <span></span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/intron_advanced.jpg"
                alt="image"
                class="definitions_part_2-image07"
              />
            </div>
            <div class="definitions_part_2-step08">
              <h1 class="definitions_part_2-text090"><span>3</span></h1>
              <h1 class="definitions_part_2-text092">
                <span>Messenger RNA (mRNA)</span>
              </h1>
              <span class="definitions_part_2-text094">
                <span></span>
                <span></span>
                <span>
                  Messenger RNA (mRNA) is a single-stranded RNA molecule that is
                  complementary to one of the DNA strands of a gene. The mRNA is
                  an RNA version of the gene that leaves the cell nucleus and
                  moves to the cytoplasm where proteins are made. During protein
                  synthesis, an organelle called a ribosome moves along the
                  mRNA, reads its base sequence, and uses the genetic code to
                  translate each three-base triplet, or codon, into its
                  corresponding amino acid.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  Messenger RNAs, also known as mRNA, are one of the types of
                  RNA that are found in the cell. This particular one, like most
                  RNAs, are made in the nucleus and then exported to the
                  cytoplasm where the translation machinery, the machinery that
                  actually makes proteins, binds to these mRNA molecules and
                  reads the code on the mRNA to make a specific protein. So in
                  general, one gene, the DNA for one gene, can be transcribed
                  into an mRNA molecule that will end up making one specific
                  protein.
                </span>
                <br />
                <span></span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/messenger_rna.jpg"
                alt="image"
                class="definitions_part_2-image08"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="definitions_part_2-custom-viz2">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxtaW5pbWFsaXNtJTIwZ3JlZW58ZW58MHx8fHwxNjI1ODQxMDcw&amp;ixlib=rb-1.2.1&amp;w=1200"
          class="definitions_part_2-image09"
        />
      </div>
    </div>
    <div class="definitions_part_2-part6">
      <h2 class="definitions_part_2-text102">
        <span></span>
        PART 6: Translation: mRNA → Amino Acid Chain
      </h2>
      <div class="definitions_part_2-steps3">
        <div class="definitions_part_2-container09">
          <div class="definitions_part_2-container10">
            <div class="definitions_part_2-step09">
              <h1 class="definitions_part_2-text104"><span>1</span></h1>
              <h1 class="definitions_part_2-text106">
                <span>Translation</span>
              </h1>
              <span class="definitions_part_2-text108">
                <span></span>
                <span></span>
                <span>
                  Translation is the process of translating the sequence of a
                  messenger RNA (mRNA) molecule to a sequence of amino acids
                  during protein synthesis. The genetic code describes the
                  relationship between the sequence of base pairs in a gene and
                  the corresponding amino acid
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/translation.jpg"
                alt="image"
                class="definitions_part_2-image10"
              />
            </div>
            <div class="definitions_part_2-step10">
              <h1 class="definitions_part_2-text113"><span>2</span></h1>
              <h1 class="definitions_part_2-text115"><span>Codon</span></h1>
              <span class="definitions_part_2-text117">
                <span></span>
                <span></span>
                <span>
                  A codon is a trinucleotide sequence of DNA or RNA that
                  corresponds to a specific amino acid. The genetic code
                  describes the relationship between the sequence of DNA bases
                  (A, C, G, and T) in a gene and the corresponding protein
                  sequence that it encodes. The cell reads the sequence of the
                  gene in groups of three bases. There are 64 different codons:
                  61 specify amino acids while the remaining three are used as
                  stop signals.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/codon.jpg"
                alt="image"
                class="definitions_part_2-image11"
              />
            </div>
          </div>
          <div class="definitions_part_2-container11">
            <div class="definitions_part_2-step11">
              <h1 class="definitions_part_2-text122"><span>3</span></h1>
              <h1 class="definitions_part_2-text124">
                <span>Amino Acid</span>
              </h1>
              <span class="definitions_part_2-text126">
                <span></span>
                <span></span>
                <span>
                  Amino acids are a set of 20 different molecules used to build
                  proteins. Proteins consist of one or more chains of amino
                  acids called polypeptides. The sequence of the amino acid
                  chain causes the polypeptide to fold into a shape that is
                  biologically active. The amino acid sequences of proteins are
                  encoded in the genes.
                </span>
                <br />
                <span></span>
                <span></span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/amino_acids.jpg"
                alt="image"
                class="definitions_part_2-image12"
              />
            </div>
            <div class="definitions_part_2-step12">
              <h1 class="definitions_part_2-text133"><span>4</span></h1>
              <h1 class="definitions_part_2-text135">
                <span>Polypeptide</span>
              </h1>
              <span class="definitions_part_2-text137">
                <span></span>
                <span></span>
                <span>
                  A peptide is one or more amino acids linked by chemical bonds.
                  The term also refers to the type of chemical bond that joins
                  the amino acids together. A series of linked amino acids is a
                  polypeptide. The cell&apos;s proteins are made from one or
                  more polypeptides.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/peptide.jpg"
                alt="image"
                class="definitions_part_2-image13"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="definitions_part_2-custom-viz3">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxtaW5pbWFsaXNtJTIwZ3JlZW58ZW58MHx8fHwxNjI1ODQxMDcw&amp;ixlib=rb-1.2.1&amp;w=1200"
          class="definitions_part_2-image14"
        />
      </div>
      <div class="definitions_part_2-custom-viz4">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxtaW5pbWFsaXNtJTIwZ3JlZW58ZW58MHx8fHwxNjI1ODQxMDcw&amp;ixlib=rb-1.2.1&amp;w=1200"
          class="definitions_part_2-image15"
        />
      </div>
    </div>
    <div class="definitions_part_2-part7">
      <h2 class="definitions_part_2-text142">PART 7: Protein-Folding</h2>
      <div class="definitions_part_2-banner1">
        <div class="definitions_part_2-container12">
          <h1 class="definitions_part_2-text143"><span>Protein</span></h1>
          <span class="definitions_part_2-text145">
            <span>
              <span>
                Proteins are an important class of molecules found in all living
                cells. A protein is composed of one or more long chains of amino
                acids, the sequence of which corresponds to the DNA sequence of
                the gene that encodes it. Proteins play a variety of roles in
                the cell, including structural (cytoskeleton), mechanical
                (muscle), biochemical (enzymes), and cell signaling (hormones).
                Proteins are also an essential part of diet.
              </span>
              <br />
              <span></span>
              <br />
              <span>
                Many genes in the genome code for proteins. These are molecules
                of amino acids linked together in a very specific sequence that
                produce a functional molecule that can fold up to either be an
                enzyme, or a formed part of the structure of the cell, or to be
                secreted and act as signals. In all, there are thousands and
                thousands of proteins that your cells and body makes every
                single day. In the human genome, there are approximately 20,000
                genes that code for proteins.
              </span>
              <span></span>
            </span>
          </span>
        </div>
        <img
          alt="image"
          src="https://www.genome.gov/sites/default/files/tg/en/illustration/protein.jpg"
          class="definitions_part_2-image16"
        />
      </div>
      <div class="definitions_part_2-custom-viz5">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxtaW5pbWFsaXNtJTIwZ3JlZW58ZW58MHx8fHwxNjI1ODQxMDcw&amp;ixlib=rb-1.2.1&amp;w=1200"
          class="definitions_part_2-image17"
        />
      </div>
    </div>
  </div>
</div>
