<div>
  <link href="static/css/definitions_part_5_6_7.css" rel="stylesheet" />
  <div class="definitions_part_5_6_7-container">
    <div class="definitions_part_5_6_7-part5">
      <h2 class="definitions_part_5_6_7-text">
        <span></span>
        PART 5: Splicing: RNA → mRNA
      </h2>
      <div class="definitions_part_5_6_7-steps">
        <div class="definitions_part_5_6_7-container1">
          <div class="definitions_part_5_6_7-container2">
            <div class="definitions_part_5_6_7-step">
              <h1 class="definitions_part_5_6_7-text02"><span>1</span></h1>
              <h1 class="definitions_part_5_6_7-text04"><span>Exon</span></h1>
              <span class="definitions_part_5_6_7-text06">
                <span>
                  An exon is the portion of a gene that codes for amino acids.
                  In the cells of plants and animals, most gene sequences are
                  broken up by one or more DNA sequences called introns. The
                  parts of the gene sequence that are expressed in the protein
                  are called exons, because they are expressed, while the parts
                  of the gene sequence that are not expressed in the protein are
                  called introns, because they come in between--or interfere
                  with--the exons.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  Exons are that part of the RNA that code for proteins. Now,
                  RNA, when it first gets transcribed, is a very, very long
                  piece of RNA molecule. And really, the important parts of that
                  RNA are the exons. There are large, large chunks of RNA that
                  get excised out. Now, it&apos;s important to remember that
                  because I use the term excised doesn&apos;t mean that exons go
                  away. The exons are what stay in the mature mRNA and
                  eventually code for amino acids. Many times, including medical
                  students like my wife, will forget whether it&apos;s the exons
                  that code for the amino acids or the introns that code for the
                  amino acids. Let me set the record straight that it&apos;s the
                  exons that code for the amino acids, because sometimes people
                  try to remember that exons get excised, but that&apos;s not
                  true. It&apos;s that introns interfere. So you always have to
                  remember that introns interfere, and the introns get excised
                  out of the RNA to leave a string of exons together that will
                  eventually code for the amino acids.
                </span>
              </span>
            </div>
            <div class="definitions_part_5_6_7-step1">
              <h1 class="definitions_part_5_6_7-text10"><span>2</span></h1>
              <h1 class="definitions_part_5_6_7-text12">Intron</h1>
              <span class="definitions_part_5_6_7-text13">
                <span></span>
                <span></span>
                <span>
                  An intron is a portion of a gene that does not code for amino
                  acids. In the cells of plants and animals, most gene sequences
                  are broken up by one or more introns. The parts of the gene
                  sequence that are expressed in the protein are called exons,
                  because they are expressed, while the parts of the gene
                  sequence that are not expressed in the protein are called
                  introns, because they come in between the exons.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  Introns are very large chunks of RNA within a messenger RNA
                  molecule that interfere with the code of the exons. And these
                  introns get removed from the RNA molecule to leave a string of
                  exons attached to each other so that the appropriate amino
                  acids can be encoded for.
                </span>
                <span></span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/intron_advanced.jpg"
                alt="image"
                class="definitions_part_5_6_7-image"
              />
            </div>
            <div class="definitions_part_5_6_7-step2">
              <h1 class="definitions_part_5_6_7-text21"><span>3</span></h1>
              <h1 class="definitions_part_5_6_7-text23">
                <span>Messenger RNA (mRNA)</span>
              </h1>
              <span class="definitions_part_5_6_7-text25">
                <span></span>
                <span></span>
                <span>
                  Messenger RNA (mRNA) is a single-stranded RNA molecule that is
                  complementary to one of the DNA strands of a gene. The mRNA is
                  an RNA version of the gene that leaves the cell nucleus and
                  moves to the cytoplasm where proteins are made. During protein
                  synthesis, an organelle called a ribosome moves along the
                  mRNA, reads its base sequence, and uses the genetic code to
                  translate each three-base triplet, or codon, into its
                  corresponding amino acid.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  Messenger RNAs, also known as mRNA, are one of the types of
                  RNA that are found in the cell. This particular one, like most
                  RNAs, are made in the nucleus and then exported to the
                  cytoplasm where the translation machinery, the machinery that
                  actually makes proteins, binds to these mRNA molecules and
                  reads the code on the mRNA to make a specific protein. So in
                  general, one gene, the DNA for one gene, can be transcribed
                  into an mRNA molecule that will end up making one specific
                  protein.
                </span>
                <br />
                <span></span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/messenger_rna.jpg"
                alt="image"
                class="definitions_part_5_6_7-image1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="definitions_part_5_6_7-part6">
      <h2 class="definitions_part_5_6_7-text33">
        <span></span>
        PART 6: Translation: mRNA → Amino Acid Chain
      </h2>
      <div class="definitions_part_5_6_7-steps1">
        <div class="definitions_part_5_6_7-container3">
          <div class="definitions_part_5_6_7-container4">
            <div class="definitions_part_5_6_7-step3">
              <h1 class="definitions_part_5_6_7-text35"><span>1</span></h1>
              <h1 class="definitions_part_5_6_7-text37">
                <span>Translation</span>
              </h1>
              <span class="definitions_part_5_6_7-text39">
                <span></span>
                <span></span>
                <span>
                  Translation is the process of translating the sequence of a
                  messenger RNA (mRNA) molecule to a sequence of amino acids
                  during protein synthesis. The genetic code describes the
                  relationship between the sequence of base pairs in a gene and
                  the corresponding amino acid
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/translation.jpg"
                alt="image"
                class="definitions_part_5_6_7-image2"
              />
            </div>
            <div class="definitions_part_5_6_7-step4">
              <h1 class="definitions_part_5_6_7-text44"><span>2</span></h1>
              <h1 class="definitions_part_5_6_7-text46"><span>Codon</span></h1>
              <span class="definitions_part_5_6_7-text48">
                <span></span>
                <span></span>
                <span>
                  A codon is a trinucleotide sequence of DNA or RNA that
                  corresponds to a specific amino acid. The genetic code
                  describes the relationship between the sequence of DNA bases
                  (A, C, G, and T) in a gene and the corresponding protein
                  sequence that it encodes. The cell reads the sequence of the
                  gene in groups of three bases. There are 64 different codons:
                  61 specify amino acids while the remaining three are used as
                  stop signals.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/codon.jpg"
                alt="image"
                class="definitions_part_5_6_7-image3"
              />
            </div>
          </div>
          <div class="definitions_part_5_6_7-container5">
            <div class="definitions_part_5_6_7-step5">
              <h1 class="definitions_part_5_6_7-text53"><span>3</span></h1>
              <h1 class="definitions_part_5_6_7-text55">
                <span>Amino Acid</span>
              </h1>
              <span class="definitions_part_5_6_7-text57">
                <span></span>
                <span></span>
                <span>
                  Amino acids are a set of 20 different molecules used to build
                  proteins. Proteins consist of one or more chains of amino
                  acids called polypeptides. The sequence of the amino acid
                  chain causes the polypeptide to fold into a shape that is
                  biologically active. The amino acid sequences of proteins are
                  encoded in the genes.
                </span>
                <br />
                <span></span>
                <span></span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/amino_acids.jpg"
                alt="image"
                class="definitions_part_5_6_7-image4"
              />
            </div>
            <div class="definitions_part_5_6_7-step6">
              <h1 class="definitions_part_5_6_7-text64"><span>4</span></h1>
              <h1 class="definitions_part_5_6_7-text66">
                <span>Polypeptide</span>
              </h1>
              <span class="definitions_part_5_6_7-text68">
                <span></span>
                <span></span>
                <span>
                  A peptide is one or more amino acids linked by chemical bonds.
                  The term also refers to the type of chemical bond that joins
                  the amino acids together. A series of linked amino acids is a
                  polypeptide. The cell&apos;s proteins are made from one or
                  more polypeptides.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/peptide.jpg"
                alt="image"
                class="definitions_part_5_6_7-image5"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="definitions_part_5_6_7-part7">
      <h2 class="definitions_part_5_6_7-text73">PART 7: Protein-Folding</h2>
      <div class="definitions_part_5_6_7-banner">
        <div class="definitions_part_5_6_7-container6">
          <h1 class="definitions_part_5_6_7-text74"><span>Protein</span></h1>
          <span class="definitions_part_5_6_7-text76">
            <span>
              <span>
                Proteins are an important class of molecules found in all living
                cells. A protein is composed of one or more long chains of amino
                acids, the sequence of which corresponds to the DNA sequence of
                the gene that encodes it. Proteins play a variety of roles in
                the cell, including structural (cytoskeleton), mechanical
                (muscle), biochemical (enzymes), and cell signaling (hormones).
                Proteins are also an essential part of diet.
              </span>
              <br />
              <span></span>
              <br />
              <span>
                Many genes in the genome code for proteins. These are molecules
                of amino acids linked together in a very specific sequence that
                produce a functional molecule that can fold up to either be an
                enzyme, or a formed part of the structure of the cell, or to be
                secreted and act as signals. In all, there are thousands and
                thousands of proteins that your cells and body makes every
                single day. In the human genome, there are approximately 20,000
                genes that code for proteins.
              </span>
              <span></span>
            </span>
          </span>
        </div>
        <img
          alt="image"
          src="https://www.genome.gov/sites/default/files/tg/en/illustration/protein.jpg"
          class="definitions_part_5_6_7-image6"
        />
      </div>
    </div>
  </div>
</div>
