<div>
  <link href="static/css/definitions_part_3.css" rel="stylesheet" />
  <div class="definitions_part_3-container">
    <div class="definitions_part_3-part3">
      <h2 class="definitions_part_3-text">
        <span></span>
        PART 3: The Components of a Gene
      </h2>
      <div class="definitions_part_3-steps">
        <div class="definitions_part_3-container1">
          <div class="definitions_part_3-container2">
            <div class="definitions_part_3-step">
              <h1 class="definitions_part_3-text02"><span>1</span></h1>
              <h1 class="definitions_part_3-text04">
                <span>Untranslated Region (UTR)</span>
              </h1>
              <span class="definitions_part_3-text06">
                <span></span>
                <span></span>
                <span>
                  An untranslated region (or UTR) refers to either of two
                  sections, one on each side of a coding sequence on a strand of
                  mRNA. If it is found on the 5&apos; side, it is called the
                  5&apos; UTR (or leader sequence), or if it is found on the
                  3&apos; side, it is called the 3&apos; UTR (or trailer
                  sequence). mRNA is RNA that carries information from DNA to
                  the ribosome, the site of protein synthesis (translation)
                  within a cell. The mRNA is initially transcribed from the
                  corresponding DNA sequence and then translated into protein.
                  However, several regions of the mRNA are usually not
                  translated into protein, including the 5&apos; and 3&apos;
                  UTRs.
                </span>
                <br />
                <span></span>
              </span>
            </div>
            <div class="definitions_part_3-step1">
              <h1 class="definitions_part_3-text11"><span>2</span></h1>
              <h1 class="definitions_part_3-text13">
                <span>Start Codon</span>
              </h1>
              <span class="definitions_part_3-text15">
                <span></span>
                <span></span>
                <span>
                  The start codon is the first codon of a messenger RNA (mRNA)
                  transcript translated by a ribosome. The start codon always
                  codes for methionine in eukaryotes and Archaea and a
                  N-formylmethionine (fMet) in bacteria, mitochondria and
                  plastids. The most common start codon is AUG (i.e., ATG in the
                  corresponding DNA sequence).
                </span>
                <br />
                <span></span>
              </span>
            </div>
          </div>
          <div class="definitions_part_3-container3">
            <div class="definitions_part_3-step2">
              <h1 class="definitions_part_3-text20"><span>3</span></h1>
              <h1 class="definitions_part_3-text22"><span>Stop Codon</span></h1>
              <span class="definitions_part_3-text24">
                <span></span>
                <span></span>
                <span>
                  A stop codon is a trinucleotide sequence within a messenger
                  RNA (mRNA) molecule that signals a halt to protein synthesis.
                  The genetic code describes the relationship between the
                  sequence of DNA bases (A, C, G, and T) in a gene and the
                  corresponding protein sequence that it encodes. The cell reads
                  the sequence of the gene in groups of three bases. Of the 64
                  possible combinations of three bases, 61 specify an amino
                  acid, while the remaining three combinations are stop codons.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/stop_codon.jpg"
                alt="image"
                class="definitions_part_3-image"
              />
            </div>
            <div class="definitions_part_3-step3">
              <h1 class="definitions_part_3-text29"><span>4</span></h1>
              <h1 class="definitions_part_3-text31">
                <span>Coding DNA Sequence (CDS)</span>
              </h1>
              <span class="definitions_part_3-text33">
                <span></span>
                <span></span>
                <span>
                  The specific portion of DNA that directly encodes for the
                  protein (without introns or UTRs). Must be multiples of 3
                  (codons) to encode for amino acid chains.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.ensembl.info%2Fwp-content%2Fuploads%2F2018%2F08%2FGenestructure.png&amp;f=1&amp;nofb=1"
                alt="image"
                class="definitions_part_3-image1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
