<div>
  <link href="static/css/definitions_part_4.css" rel="stylesheet" />
  <div class="definitions_part_4-container">
    <div class="definitions_part_4-part4">
      <h2 class="definitions_part_4-text">
        <span></span>
        PART 4: Transcription: DNA → RNA
      </h2>
      <div class="definitions_part_4-steps">
        <div class="definitions_part_4-container1">
          <div class="definitions_part_4-container2">
            <div class="definitions_part_4-step">
              <h1 class="definitions_part_4-text02"><span>1</span></h1>
              <h1 class="definitions_part_4-text04">
                <span>Transcription</span>
              </h1>
              <span class="definitions_part_4-text06">
                <span></span>
                <span></span>
                <span>
                  Transcription is the process of making an RNA copy of a gene
                  sequence. This copy, called a messenger RNA (mRNA) molecule,
                  leaves the cell nucleus and enters the cytoplasm, where it
                  directs the synthesis of the protein, which it encodes.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  Transcription is one of the fundamental processes that happens
                  to our genome. It&apos;s the process of turning DNA into RNA.
                  And you may have heard about the central dogma, which is DNA,
                  to RNA, to protein. Well, transcription refers to that first
                  part of going from DNA to RNA. And we transcribe DNA to RNA in
                  specific places. The most popular places are those things that
                  code for these protein-encoding genes. But there are a whole
                  host of other RNAs that get transcribed, like transfer RNAs
                  and ribosomal RNAs, that do other functions that are genomic
                  as well.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/transcription.jpg"
                alt="image"
                class="definitions_part_4-image"
              />
            </div>
            <div class="definitions_part_4-step1">
              <h1 class="definitions_part_4-text13"><span>2</span></h1>
              <h1 class="definitions_part_4-text15">Ribonucleic Acid (RNA)</h1>
              <span class="definitions_part_4-text16">
                <span></span>
                <span></span>
                <span>
                  Ribonucleic acid (RNA) is a molecule similar to DNA. Unlike
                  DNA, RNA is single-stranded. An RNA strand has a backbone made
                  of alternating sugar (ribose) and phosphate groups. Attached
                  to each sugar is one of four bases--adenine (A), uracil (U),
                  cytosine (C), or guanine (G). Different types of RNA exist in
                  the cell: messenger RNA (mRNA), ribosomal RNA (rRNA), and
                  transfer RNA (tRNA). More recently, some small RNAs have been
                  found to be involved in regulating gene expression.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  RNA, or ribonucleic acid, is a nucleic acid that is similar in
                  structure to DNA but different in subtle ways. The cell uses
                  RNA for a number of different tasks, one of which is called
                  messenger RNA, or mRNA. And that is the nucleic acid
                  information molecule that transfers information from the
                  genome into proteins by translation. Another form of RNA is
                  tRNA, or transfer RNA, and these are non-protein encoding RNA
                  molecules that physically carry amino acids to the translation
                  site that allows them to be assembled into chains of proteins
                  in the process of translation.
                </span>
                <br />
                <span></span>
              </span>
              <img
                src="https://www.genome.gov/sites/default/files/tg/en/illustration/rna_ribonucleic_acid.jpg"
                alt="image"
                class="definitions_part_4-image1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
