<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  <script src="https://vega.github.io/datalib/datalib.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <title>Visualizing the Human Genome</title>
</head>

<body>
  <h1>Visualizing the Human Genome!</h1>
    <h3>UC Berkeley School of Information - Spring 2022 - W209 Data Visualization - Final Project</h3>
    <h3>Team Members:</h3>
    <ul>
      <li>Whitney Fee</li>
      <li>Angel Ortiz Nuñez</li>
      <li>Eric Ellestad</li>
    </ul>
    <hr>
  <h2>Introduction</h2>

    <span style="width:1000px; word-wrap:break-word; display:inline-block;">
      <a href="https://www.genome.gov/human-genome-project">The Human Genome Project</a>
      was completed in 2003 which ushered in the genomics era by sequencing an entire
      human genome for the very first time. In the following two decades, advances
      in modern high-throughput genetic sequencing technologies have made DNA
      sequencing faster, cheaper, and widely available. This has lead to a proliferation
      of genomic "big data" and the availability of large-scale public databases
      of detailed human genomic information.
    </span><br><br>

    <span style="width:1000px; word-wrap:break-word; display:inline-block;">
      The human genome consists of 23 chromosome pairs that include around 20,000
      genes and over 6 billion base pairs in total DNA length. Given that the scale and
      complexity of genomic data can make these topics difficult to grasp intuitively,
      our project is an attempt to create an interactive visualization
      tool of the human genome that stitches together the macromolecular structure
      with the building blocks all within the context of the central dogma of
      molecular biology: DNA gets transcribed into RNA which
      gets translated into Proteins that drive many bodily functions.
    </span><br><br>
    <img src="https://i.pinimg.com/originals/0e/76/7b/0e767b3858116480884580f505b35262.png" width="750">
    <br><br>
    <hr>
  <h2>Part 1: At the highest-level, the Genome consists of Chromosomes</h2>

      <a href="/definitions_part_1" style="font-size:22px;">Definitions for Part 1</a>

      <!-- Visualization 1: Genome Summary -->
      <div class='tableauPlaceholder' id='viz1646798624291' style='position: relative'>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='TheHumanGenomeOverview&#47;TheHumanGenome' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
          <param name='filter' value='publish=yes' />
        </object>
      </div>
      <script type='text/javascript'>
        var divElement = document.getElementById('viz1646798624291');
        var vizElement = divElement.getElementsByTagName('object')[0];
        if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='1227px';}
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script><br><br>

    <hr>
    <h2>PART 2: Within each Chromosome there are regions of DNA called Genes</h2>

      <a href="/definitions_part_2" style="font-size:22px;">Definitions for Part 2</a>

      <div class='tableauPlaceholder' id='viz1646799593098' style='position: relative'>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='ChromosomeOverview&#47;ChromosomeOverview' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
          <param name='filter' value='publish=yes' />
        </object>
      </div>
      <script type='text/javascript'>
        var divElement = document.getElementById('viz1646799593098');
        var vizElement = divElement.getElementsByTagName('object')[0];
        if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>

    <hr>
      <!-- Render Gene Overview Chart -->
      <div class="container">
        <div class="charts text-center">
          <div class="row"><div id="gene_overview"></div></div><hr>
        </div>
      </div>

      <br><br>

      <!-- Render Gene Browser Chart-->
      <div class="container">
        <div class="charts text-center">
          <div class="row"><div id="gene_browser"></div></div><hr>
        </div>
      </div>

      <br><br>

      <!-- Render Gene Browser by Chromosome Chart-->
      <div class="container">
        <div class="charts text-center">
          <div class="row"><div id="gene_browser_by_chr"></div></div><hr>
        </div>
      </div>


    <h2>Part 3: Within each Gene there are Exons, Introns, Coding DNA Sequences, Untranslated Regions, and Start and Stop Codons</h2>

      <a href="/definitions_part_3" style="font-size:22px;">Definitions for Part 3</a>

      <h3>Pick a Gene to Explore its Components and Transcripts</h3>
      <!-- Dropdown List to Select Gene -->
      <label for="gene_dropdown">Select a Gene to Explore:</label>
      <select name="gene_dropdown" id="gene_dropdown" onchange="displayGene()">
        {% for gene in gene_names %}
        <option value="{{gene}}">{{gene}}</option>
        {% endfor %}
      </select>
      <br>


      <!-- Render Gene Browser Chart -->
      <div class="container">
        <div class="charts text-center">
          <div class="row"><div id="gene_components"></div></div><hr>
        </div>
      </div>


    <h2>Part 4 - Transcription: When a Gene is activated, its DNA is transcribed into RNA</h2>

      <a href="/definitions_part_4" style="font-size:22px;">Definitions for Part 4</a>

      <!-- Render Gene Transcription Chart -->
      <div class="container">
        <div class="charts text-center">
          <div class="row"><div id="transcription"></div></div><hr>
        </div>
      </div>


    <h2>Part 5 - Splicing: Transcribed RNA then gets spliced into mRNA</h2>

      <a href="/definitions_part_5_6_7" style="font-size:22px;">Definitions for Part 5, 6, and 7</a>

      <!-- Render Gene Splicing Chart -->
      <div class="container">
        <div class="charts text-center">
          <div class="row"><div id="splicing"></div></div><hr>
        </div>
      </div>


    <h2>Part 6 - Translation: mRNA then gets translated into a sequence of Amino Acids</h2>

        <!-- Render Gene Translation Chart -->
        <div class="container">
          <div class="charts text-center">
            <div class="row"><div id="translation"></div></div><hr>
          </div>
        </div>

      <h3>Resulting Protein Info</h3>

        <div class="container">
          <div class="row"><hr>
            <h4>Gene Name:</h4>
            <div id='gene_name'></div><br>
          </div>
          <div class="row"><hr>
            <h4>Protein Name:</h4>
            <span id='protein_name' style="width:1000px; word-wrap:break-word; display:inline-block;"></span><br><br>
          </div>
          <div class="row"><hr>
            <h4>Protein Function:</h4>
            <span id='protein_function' style="width:1000px; word-wrap:break-word; display:inline-block;"></span><br><br>
          </div>
          <div class="row"><hr>
            <h4>Number of Amino Acids:</h4>
            <div id='aa_length'></div><br>
          </div>
          <div class="row"><hr>
            <h4>Amino Acid Sequence:</h4>
            <!-- <textarea id='aa_seq' style="width:1000px; height:100px; word-wrap:break-word;"></textarea> -->
            <span id='aa_seq' style="width:1000px; word-wrap:break-word; display:inline-block;"></span><br><br>
          </div><hr>
        </div>

    <!-- Render Amino Acid Composition Chart -->
    <div class="container">
      <div class="charts text-center">
        <div class="row"><div id="protein_composition"></div></div><hr>
      </div>
    </div>

    <h2>Part 7 - Protein Folding: The Amino Acid Chain folds into its final 3D shape called a Protein</h2>

        <a id="molstar" style="font-size:40px;">AlphaFold 3D Structure of the Protein Encoded by Gene</a>
        <br><br>

    <!-- Javascript to Render Altair Charts based on Gene Selection -->
    <script type="text/javascript">

      function parse(url, div) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: {export: true, source: false, editor: false}
        };

        vegaEmbed("#"+div, url, opt, function(error, result) {
          // result.view is the Vega View, url is the original Vega-Lite specification
          vegaTooltip.vegaLite(result.view, url);
        });
      }

      function displayGene() {
        var gene_name = document.getElementById("gene_dropdown").value;

        parse("/chart/gene_overview/", "gene_overview")
        parse("/chart/gene_browser/", "gene_browser")
        parse("/chart/gene_browser_by_chr/", "gene_browser_by_chr")
        parse("/chart/gene_components/" + gene_name, "gene_components")
        parse("/chart/transcription/" + gene_name, "transcription")
        parse("/chart/splicing/" + gene_name, "splicing")
        parse("/chart/translation/" + gene_name, "translation")
        parse("/chart/protein_composition/" + gene_name, "protein_composition")

        var molstar_url = "/molstar/" + gene_name;
        document.getElementById("molstar").href = molstar_url;
        document.getElementById("gene_name").innerHTML = 'Gene Name: ' + gene_name;

        function get_protein_info() {
          var protein_info_url = '/protein_info/' + gene_name;
          $.getJSON(protein_info_url, function(protein) {
            document.getElementById("protein_name").innerHTML = protein.name;
            document.getElementById("protein_function").innerHTML = protein.function;
            document.getElementById("aa_seq").innerHTML = protein.aa_seq;
            document.getElementById("aa_length").innerHTML = protein.aa_length;
          });
        }
        get_protein_info()
      }
      displayGene()



    </script>


</body>
